.card {
    background: linear-gradient(-45deg, #C2D3CD, #AFBFC0, #9FA4A9, #847E89, #56494C);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    border: solid goldenrod 1px;
    border-radius: .25rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-muted {
    color: #2C3D55 !important; 
}

a {
    /* RESET */
    text-decoration: none;
    line-height: 1;
    
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    color: #2C3D55;
    vertical-align: bottom;
    transition: color .3s ease-out;
}

a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    transition: transform .25s ease-out;
    border-radius: .25rem;
}

a:hover { 
    color: #fff; 
}

a:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
}