.card {
    background: linear-gradient(-45deg, #C2D3CD, #AFBFC0, #9FA4A9, #847E89, #56494C);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    border: solid goldenrod 1px !important;
    border-radius: .25rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-muted {
    color: #2C3D55 !important; 
}

